@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@layer base {
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
}
article p {
    font-family: 'Open Sans', sans-serif;
    @apply text-justify;
}
article img {
    @apply w-full mx-auto mt-10;
}

article .embedded-container {
    @apply grid gap-10 my-10;
    grid-template-columns: auto 1fr;
}
article .embedded-container img {
    @apply w-3xs mx-auto mt-8;
}
